$time: .3s;

.tilecontainer {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.tilecolumn {
  height: 100%;
  position: relative;
  overflow: hidden;

  &>.tilewrapper, &>.singletile {
    transition: height $time;
    width: 100% !important;

    border-top: 3px solid #ccc;
    &:first-child {
      border-top: 0;
    }
  }
}

.tilerow {
  position: relative;
  overflow: hidden;

  &>.tilewrapper, &>.singletile {
    transition: width $time;
    float:left;

    border-left: 3px solid #ccc;
    &:first-child {
      border-left: 0;
    }
  }

  &>.singletile {
    height: 100% !important;
  }
}

.tilefree, .tilefreeChild {
  transition: width $time, height $time;
}

.singletile {
  overflow: hidden;
  border: 1px solid red;
}

.tileresizing {
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer */
  -khtml-user-select: none; /* KHTML browsers (e.g. Konqueror) */
  -webkit-user-select: none; /* Chrome, Safari, and Opera */
  -webkit-touch-callout: none; /* Disable Android and iOS callouts*/

  .tilerow, .tilecolumn, .singletile, .separator {
    transition: none;
  }
}

.tilecolumn.tileentered>.tileentering {
  height: 0 !important;
}
.tilerow.tileentered>.tileentering {
  width: 0 !important;
}

.column-trans-leave {
  height: 0 !important;
}
.row-trans-leave {
  width: 0 !important;
}

.separator {
  position: absolute;
}

.separator-row {
  height: 100%;
  width: 3px;
  top: 0;
  cursor: e-resize;
}
.separator-column {
  width: 100%;
  height: 3px;
  left: 0;
  cursor: n-resize;
}

.tileiframe {
  .tilecontent {
    height: 100%;
  }

  iframe, .tileiframeContainer, .tileiframeOverlay {
    width: 100%;
    height: 100%;
    border: 0;
  }
}

.tileiframeOverlay {
  position: absolute;
  z-index: -1;
}

.tileresizing .tileiframeOverlay {
  z-index: 1;
}
