$time: .3s;

.tilecontainer {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.tilecolumn {
  height: 100%;
  position: relative;
  overflow: hidden;
  float:left;
  transition: width $time;

  &>.tilewrapper, &>.singletile {
    transition: height $time;
    width: 100% !important;

    border-top: 3px solid #ccc;
    &:first-child {
      border-top: 0;
    }
  }

  &.tilewrapper-leave {
    width: 0 !important;
  }
}

.rowsingletile.tilewrapper-leave {
  width: 0 !important;
}
.columnsingletile.tilewrapper-leave {
  height: 0 !important;
}

.tilerow {
  position: relative;
  overflow: hidden;
  transition: height $time;

  &>.tilewrapper, &>.singletile {
    transition: width $time;
    border-left: 3px solid #ccc;
    &:first-child {
      border-left: 0;
    }
  }

  &>.singletile {
    height: 100% !important;
    float: left;
  }


  &.tilewrapper-leave {
    height: 0 !important;
  }
}

.tilefreeChild {
  transition: width $time, height $time;
  float: left;

  &>.singletile {
    transition: width $time, height $time;
    float: left;
  }
}

.singletile {
  overflow: hidden;
  position: relative;
}
.tilecontent{
  overflow: auto;
  width: 100%;
  height: 100%;
}

.tileresizing {
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer */
  -khtml-user-select: none; /* KHTML browsers (e.g. Konqueror) */
  -webkit-user-select: none; /* Chrome, Safari, and Opera */
  -webkit-touch-callout: none; /* Disable Android and iOS callouts*/

  .tilerow, .tilecolumn, .singletile, .separator {
    transition: none;
  }
}

.tilecolumn.tileentered>.tileentering {
  height: 0 !important;
}
.tilerow.tileentered>.tileentering {
  width: 0 !important;
}

.separator {
  position: absolute;
}

.separator-row {
  height: 100%;
  width: 3px;
  top: 0;
  cursor: e-resize;
}
.separator-column {
  width: 100%;
  height: 3px;
  left: 0;
  cursor: n-resize;
}

.tileiframe {
  .tilecontent {
    overflow: hidden;
  }

  iframe {
    width: 100%;
    height: 100%;
    border: 0;
  }
}

.tileiframeOverlay {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -1;
}

.tileresizing .tileiframeOverlay {
  z-index: 1;
}


.tilecontrols {
  position: absolute;
  top:0;
  text-align: right;
  width: 100%;
  padding: 5px 12px;
  opacity: .3;
  transition: .3s opacity;
  font-size: 1.3em;
  background: rgba(255,255,255,.7);

  &:hover {
    opacity: 1;
  }

  a {
    cursor: pointer;
    color: #666;
    text-decoration: none;
    display: inline-block;
    min-width: 30px;
    text-align: center;

    &:hover {
      color: #333;
      text-decoration: none;
    }
  }
}

.tilefree .tilecontrols{
  display: none;
}
